package routes

import (
    "github.com/gofiber/fiber/v2"
    "{{.BaseModuleName}}/src/modules/controllers"
    "{{.BaseModuleName}}/src/modules/repository"
    "{{.BaseModuleName}}/src/modules/services"
)

func Setup{{.ResourceName}}Routes(app *fiber.App, repo *repository.Repository) {
    service := services.New{{.ResourceName}}Service(repo)
    controller := controllers.New{{.ResourceName}}Controller(service)

    app.Get("/{{.ResourceNameLower}}s", controller.GetAll)
    app.Get("/{{.ResourceNameLower}}s/:id", controller.GetOne)
    app.Post("/{{.ResourceNameLower}}s", controller.Create)
    app.Put("/{{.ResourceNameLower}}s/:id", controller.Update)
    app.Delete("/{{.ResourceNameLower}}s/:id", controller.Delete)
}